html {
    height: 100%;
    width: 100%;
  }
  body{
    background-color: #39b8ac;
  }
  h1,h2{
    color: white;
    text-align: center;
  }
  p{
    color: white;
    text-align: center;
    
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-direction: column;  used for displaying item vertical align one after one */
  }
  ul,li{
    color: rgb(19, 19, 19);
    
  }
  ul li{
    align-items: center;
    justify-content:center;  
    
  }
  
